<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Profile</title>
</head>

<body>

    <div class="wrapper fixed-top d-flex align-items-center">
        <!--Top menu -->
        <%- include('../partials/atasan/header'); %>

            <!-- <header id="header" class="header fixed-top d-flex align-items-center">
        </header> -->
            <!-- sidebar -->
            <div class="sidebar">
                <!-- Sidebar.ejs -->
                <%- include('../partials/sidebar'); %>
            </div>
    </div>
    <main id="main" class="main">
        <section class="mt-4 pb-5">

            <%- include('../partials/profile'); %>
        </section>
    </main><!-- End #main -->
    <%- include('../partials/script'); %>

</body>

</html>